@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@500&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: inter, sans-serif;
}
